
#navbar-head {
  display: flex;
  align-items: center;       
  padding: 10px;
  
                    
}

#navbar-head img {
  max-width: 150px;
  height: auto;
  
}

#navbar-head h1 {
  margin: 0;
  font-size: 50px;
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;             
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  
}

#titulo{
  background-image: linear-gradient(to left,#c55733 30%,#024e21ac 70% );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}