body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background: url(../imagens/dedo-de-deus.jpg) no-repeat center center;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  inset: 0; /* cobre toda a tela */
  background: rgba(0, 0, 0, 0.311); /* preto com 50% opacidade */
  z-index: -1; /* fica atrás do conteúdo */
}
