body {
  position:relative;
  margin: 0;
  min-height: 100vh;
  background: url(../imagens/dedo-de-deus.jpg) no-repeat center center;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  inset: 0; 
  background: rgba(0, 0, 0, 0.311); 
  z-index: -1; 
}

.button-corpo{
  justify-self: center;
  max-width: 200px;
  padding: 5px;
  border: 3px solid black;
  font-size: 40px;
  background: #c7d2cb ;           
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}