
.box-main {
    display: flex; 
    gap: 30px;     
    justify-content: center; 
    align-items: flex-start;
    border-radius: 4px;
    margin-top: 150px;
    border: 5px solid black;
    background: #c55733;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px; 
    height: auto;
}


.coluna-esquerda {
    
    width: 450px; 
    display: flex;
    flex-direction: column; 
    gap: 20px;
}


.coluna-esquerda .montanha-img {
    width: 100%;
    height: auto; 
    border-radius: 4px; 
}


.coluna-esquerda .map-iframe {
    width: 100%; 
    height: 300px; 
}


.box-texto {
    margin-left:  40px;
    flex-grow: 1; 
    max-width: 600px; 
    padding-top: 50px; 
}


.box-texto h2, .box-texto p {
    font-family: "Bebas Neue", sans-serif;
    text-align: center; 
    padding: 4px 0;
    font-size: 20px;
    margin-left: 0;
}

.box-texto h2 {
    margin-bottom: 20px; 
    font-size: 40px;
}




.imagem-trilha {
    margin-left: 30px;
    width: 360px;       
    height: 180px;     
    object-fit: cover;
    display: block;    
    border-radius: 10px 10px 0 0; 
}


.card-conteudo {
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    padding: 15px;
    text-align: center;
    width: 100%;
    box-sizing:content-box;
    display: block; 
}


.card-trilha {
    width: 300px; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    overflow: hidden; 
   
}


#lista {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;       
    justify-content: center;
    padding: 0;
    margin: 0;
    
}

.background-div{
    width:1400px;
    background-color: #ffffff;
    display: flex;
}