
/* Exemplo de classe em style.css */
.descricao-imagem {
    width: 200px;
    max-height: 200px;
    overflow: hidden;
}

#box{
    background-color: white;
    width: 350px;
    
}

.card{
    max-width: 350px;
}