

.descricao-imagem {
    width: 200px;
    max-height: 200px;
    overflow: hidden;
}

#box{
    background-color: white;
    width: 350px;
    
}

.card{
    max-width: 350px;
}

#div-pai{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}



