
#navbar-head {
  display: flex;
  align-items: center;       
  padding: 10px;
  
                    
}

#navbar-head img {
  max-width: 150px;
  height: auto;
  
}

#navbar-head h1 {
  gap: 15px;
  margin: 0;
  font-size: 50px;
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;             
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  
}

#titulo{
  text-shadow: -2px -2px 1px #2dc907; 
  background-image: linear-gradient(to left,#000 20%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}

.button-head{
  padding: 5px;
  border: 3px solid black;
  font-size: 40px;
  background: #02702e ;
  text-align: center;             
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

.button-head a{
  text-decoration: none;
  color:#9e7306 ;
}

.texto-user{
  text-align: center;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

#pedra-do-sino{
  margin-left:  40px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
}

#pedra-da-tartaruga{
  margin-left:  40px;
  margin-top: 360px;
  display: flex;
  flex-direction: column;
}

#bico-maior{
  margin-top: 320px;
  margin-left:  40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  
}

.button-head-home img{
  margin-right: 60px;
  gap: 5px;
  padding: 20px;
  width: 100px;
  height: 150px;
}

.button-head-login img{
  
  display: flex;
  align-self: flex-end;
  justify-self: center;
}