
#navbar-head {
  display: flex;
  align-items: center;       
  padding: 10px;
  
                    
}

#navbar-head img {
  max-width: 150px;
  height: auto;
  
}

#navbar-head h1 {
  gap: 15px;
  margin: 0;
  font-size: 50px;
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;             
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  
}

#titulo{
  text-shadow: -2px -2px 1px #2dc907; 
  background-image: linear-gradient(to left,#000 20%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}

.button-head{
  padding: 5px;
  border: 3px solid black;
  font-size: 40px;
  background: #02702e ;
  text-align: center;             
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

.button-head a{
  text-decoration: none;
  color:#9e7306 ;
}