@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@import 'body';
@import 'footer';
@import 'header';
@import 'navbar';
@import 'card';
@import 'admin';
@import 'box-main';

*{
    box-sizing: border-box;
    margin-block: 0;
    
}