<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Galeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<a href="{{ url_for('logout') }}" style="float: right; margin: 10px; color: #f44336;">Sair (Logout)</a>
<h2>Gestão de Trilhas/Eventos</h2>
<hr>

<div class="admin-form-container">
    
    <h3>Criar Novo Evento/Trilha</h3>

    <form method="POST" action="{{ url_for('criar_evento') }}" enctype="multipart/form-data"> 
        <label for="nome">Nome do Evento:</label>
        <input type="text" name="nome" required>
        
        <label for="imagem">Imagem do Evento (Opcional):</label>
        <input type="file" name="imagem" id="imagem" accept="image/*">
        
        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" required>
        
        <label for="data">Data e Hora:</label>
        <input type="datetime-local" name="data" required>
        
        <button type="submit" class="btn-submit">Adicionar Evento</button>
    </form>
</div>
<hr>

<h3>Eventos Existentes</h3>

<!-- BLOCO DE LISTAGEM DE EVENTOS -->
{% if eventos %}
    {% for evento in eventos %}

        <div class="event-box">
            {%if evento.nome_arquivo %}
                <img src="{{ url_for('static', filename='uploads/' + evento.nome_arquivo) }}"
                alt="Imagem de {{ evento.nome }}">
             {% endif %}
             
            <h4>{{ evento.nome }} (ID: {{ evento.id }})</h4>
            <p>Data: {{ evento.data }}</p>
            <p>Participantes: {{ evento.participantes | length }}</p>
            <p class="descricao-imagem">Descrição: {{ evento.descricao }}</p>

            <a href="{{ url_for('editar_evento', evento_id=evento.id) }}" class="btn btn-edit"
                style="background-color: blue; color: white; padding: 5px 10px; text-decoration: none; border-radius: 3px; display: inline-block; margin-right: 10px;">
                EDITAR EVENTO
            </a>
            
            <form method="POST" action="{{ url_for('apagar_evento', evento_id=evento.id) }}" style="display:inline;">
                <button type="submit" onclick="return confirm('Tem certeza que deseja apagar o evento {{ evento.nome }}?');" 
                    style="color:red; background:none; border:1px solid red; cursor:pointer;">APAGAR EVENTO</button>
            </form>
        </div>
        <hr>
        
    {% endfor %}
{% else %}
    <p>Nenhum evento/trilha cadastrada. Use o formulário acima para adicionar o primeiro evento.</p>
{% endif %}



<div id="galeria"></div>

<!-- Carrega o JavaScript e inicializa no final do <body> -->
<script src="{{ url_for('static', filename='js/java.js') }}"></script>
<script>
    console.log("Admin HTML carregou");
    inicializarAdmin();
</script>

</body>
</html>